body{
  padding:1%;
  margin:7%;
}

header{
  background-color:rgb(129,181,65);
  background:url(../images/flywheel.jpg) no-repeat fixed;
  background-size:cover;
  height:180px;
  padding:5px;
}

h1{
  color:#ffffff;
  text-align:center;
  text-transform:uppercase;
  font-size:150%;
  font-family:Verdana, Geneva, sans-serif;
}

nav a{
  box-sizing:border-box;
  display:inline-block;
  height:50px;
  text-decoration:none;
  text-align:center;
  margin:1% 5% 1% 0;
  padding:1% 6%;
  border-radius:25px;
  font-size:100%;
  font-family:Verdana, Geneva, sans-serif;
  color:#000000;
  background-color:#c9c8c5;
}

.active{
  background-color:#ffb8b8;
}
  

.left{
  display:block;
  float:left;
  width:25%;
  background-color:rgb(129,181,65);
  text-align:center;
  padding:15px 0;
}

.left img{
  width:70%;
  border:2px solid black;
  margin:0 auto;
}

.right{
  display:block;
  float:right;
  width:75%;
}

section{
  background-color:#ffffff;
}

h2{
  font-size:200%;
  text-transform:uppercase;
  color:#000066;
  font-family:Verdana, Geneva, sans-serif;
}

p{
  font-size:120%;
  font-family:Verdana, Geneva, sans-serif;
}

ul{
  list-style-type:circle;
  font-size:120%;
  font-family:Verdana, Geneva, sans-serif;
}